body {
    background: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

body /deep/ core-list /deep/ [layout]:nth-child(even){
    background-color: #cee1cd;
}

body /deep/ core-list /deep/ [layout]:nth-child(odd){
    background-color: #a4b0a3;
}
